:root{
  --fondonavbar:hsl(35, 80%, 55%);
  --fondo:hsl(35, 80%, 60%);
}

*{
  padding: 0 ;
  margin: 0 ;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-color: var(--fondo);
}

nav{
  height: 10vh;
  background-color: var(--fondonavbar);
}

nav > ul {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav > ul > li {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  text-align: center;
  align-items: center;
}

.iconos{
  margin-bottom: 4px;
}

.quitador{
  display: flex;
  flex-direction: column;
  width: 112px;
  height: 40px;
  color: black;
  text-decoration: none !important;
     border: 1px solid black;
  border-radius: 4pc;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-right: 24px;
  padding-left: 24px;
}

#clock{
  font-size: 10rem;
}

.quitador:hover{
  
  box-shadow: 4px 8px 2px black;
}

main {
      display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

main > section:not(:target) {
  display: none;
}
