@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');


:root{
  --fondonavbar:hsl(35, 80%, 55%);
  --fondo:hsl(35, 80%, 60%);
  --fondooscuro:hsl(220, 50%, 20%);
  --fondonavbaroscuro:hsl(220, 50%, 40%);
}

*{
  padding: 0 ;
  margin: 0 ;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  background-color: var(--fondo);
}

nav{
  height: 10vh;
  background-color: var(--fondonavbar);
}

nav > ul {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav > ul > li {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.iconos{
  margin-bottom: 4px;
}

.quitador{
  display: flex;
  flex-direction: column;
  width: 112px;
  height: 40px;
  color: black;
  text-decoration: none !important;
  border-radius: 4pc;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-right: 24px;
  padding-left: 24px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

#clock{
  font-size: 10rem;
}

.activado{
  box-shadow: none;
  background-color: hsl(35, 84%, 40%) !important;
}

#stopwatch time {
  padding-bottom: 10px;
  font-size: 10rem;
}

.controls{
  display: flex;
  justify-content: space-evenly;
}


.timers{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.timers input{
  display: flex;
  width: 200px;
  height: 96px;
  background-color: var(--fondonavbar);
  justify-content: center;
  font-size: 2rem;
  border: none;
  border-radius: 4pc;
}

#timer time {
  padding-bottom: 10px;
  font-size: 10rem;
}

.controls button{
  border: none ;
  border-radius: 50%;
  background-color: var(--fondonavbar);
  width: 96px;
height:  96px;
  font-size: 48px;
}

.alarms{
  margin-bottom: 10px;
}

.alarms .controls button{
  margin-left: 10px;
  margin-right: 10px;

}

#add_alarm:active{
  background-color: hsl(35, 84%, 40%) !important;
}

.alarms input{
  display: flex;
  width: 340px;
  height: 96px;
  margin-bottom: 10px;
  background-color: var(--fondonavbar);
  justify-content: center;
  font-size: 2rem;
  border: none;
  border-radius: 4pc;
}

main {
      display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

main > section:not(:target) {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color: hsl(218, 13%, 83%);
    background-color: var(--fondooscuro);
  }

  .buttons a{
    color: hsl(218, 13%, 83%);
  }

  nav{
    background-color: var(--fondonavbaroscuro);
  }
  .timers input{
    color: hsl(218, 13%, 83%) !important;
    background-color: var(--fondonavbaroscuro);
  }
  .controls button{
    color: hsl(218, 13%, 83%) !important;
    background-color: var(--fondonavbaroscuro);
  }
  .alarms input{
    color: hsl(218, 13%, 83%) !important;
    background-color: var(--fondonavbaroscuro);
  }

  .activado{
    background-color: hsl(220, 70%, 30%) !important;
  }
}
@media (max-width: 600px) {
  nav .buttons .quitador {
    color: blue !important;
  }
}